In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
#Answer
import pandas as pd
import numpy as np
data = np.array(['4', '8','15', '16', '23', '42'])

AB = pd.Series(data)
print(AB)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

In [2]:
type(AB)

pandas.core.series.Series

In [3]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.
#Answer.


AB = pd.Series(range(10))

In [4]:
list(AB)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
type(AB)

pandas.core.series.Series

In [6]:
pip install write

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: write in /home/abhishek/.local/lib/python3.10/site-packages (2020.12.3)
Requirement already satisfied: mkdir in /home/abhishek/.local/lib/python3.10/site-packages (from write) (2020.12.3)
Requirement already satisfied: values in /home/abhishek/.local/lib/python3.10/site-packages (from mkdir->write) (2020.12.3)
Note: you may need to restart the kernel to use updated packages.

In [9]:
#Q3. Create a Pandas DataFrame that contains the following data Then, print the DataFrame.
AK= pd.read_csv('PWS.csv')
AK.head()

                 Name        Age      Gender
0                Alice       25       Female
1                 Bob        30        Male
2               Claire       27       Female

In [10]:
type(AK)

pandas.core.frame.DataFrame

In [11]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
#Answer.
''' DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns, 
while a Series is a 1-dimensional data structure used to represent a single column or row of data within a DataFrame or as a standalone data structure.'''

' DataFrame is a 2-dimensional data structure designed for handling tabular data with multiple columns, \nwhile a Series is a 1-dimensional data structure used to represent a single column or row of data within a DataFrame or as a standalone data structure.'

In [16]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?
#Answer.
'''There is many common function'''
'''1.read_csv(),
   2.head(),
   3.describe() etc,
  above Q.4 i use a function'''

'1.read_csv(),\n   2.head(),\n   3.describe() etc,\n  above Q.4 i use a function'

In [17]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
#Answer.
'''DataFrames are both value and size-mutable (A Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed)'''

'DataFrames are both value and size-mutable (A Series, by contrast, is only value-mutable, not size-mutable. The length of a Series cannot be changed although the values can be changed)'

In [19]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.
#Answer.

# Creating a list
author = ['sudh_sir', 'Alak_sir', 
		'Arpit', 'Jyoti']
# Creating a Series by passing list 
# variable to Series() function
auth_series = pd.Series(author)
# Printing Series
print(auth_series)

0    sudh_sir
1    Alak_sir
2       Arpit
3       Jyoti
dtype: object